:root {
  --left-form-margin: 40px;
}

@font-face {
  font-family: 'norsebold';
  src: url('Norse-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;

  font-family: "Helvetica", "Arial", sans-serif;

  display: flex;
}

.background-container {
  height: 100vh;
  width: 40%;

  position: relative;
  background-image: url("tim-rebkavets-castle-unsplash.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logo-background {
  width: 100%;
  height: 150px;
  margin-top: 160px;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-background img {
  height: 100px;
}

.odin-title {
  font-family: 'norsebold';
  font-size: 100px;
  color: white;
  opacity: 1;

  position: relative;
  top: 10px;
}

.attribute {
  color: white;
  font-size: 10px;

  position: absolute;
  bottom: 5px;
  left: 20%;
}

.attribute a {
  color: white;
  font-size: 10px;
}

.main-container {
  width: 60%;
  background-color: #D6D9DC;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.form-container {
  background-color: #ffffff;
  
  border: 1px solid #D6D9DC;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.6); 
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.6);

  display: flex;
  margin: 40px 0;
}

.sign-up-form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px 0;
}

.sign-up-form h1 {
  margin-left: var(--left-form-margin);
  margin-bottom: 30px;
  font-size: 28px;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.form-row-item {
  margin-bottom: 20px;
  margin-left: var(--left-form-margin);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row label {
  text-transform: uppercase;
  font-size: 10px;

}

.form-row-item input {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.hero-container p {
  margin-left: var(--left-form-margin);
  margin-top: 30px;

  width: 80%;

  font-size: 20px;
  font-weight: 700;
}

.submit-container button {
  margin-left: var(--left-form-margin);

  padding: 10px 30px;
  background-color: darkgreen;
  color: white;
  font-weight: 800;

  border: none;
  border-radius: .5em;

  cursor: pointer;
}

.submit-container p {
  margin-left: var(--left-form-margin);
  margin-top: 20px;

  font-size: 14px;
}

.submit-container a {
  color: darkgreen;
  text-decoration: none;
  font-weight: 600;
}